<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/encode.js"></script>
    <script src="/javascripts/domParse.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
        <%- xss %>
    </div>

    <textarea name="name" rows="8" cols="80" id="txt">
        <p>sks<img src="null" alt="" onerror="alert('error')"></p>
    </textarea>

    <br>
    <button type="button" name="button" id="btn">评论</button>
    <button type="button" name="button" id="get-btn">获取评论</button>

    <script type="text/javascript">
        var btn = document.getElementById('btn');
        var getBtn = document.getElementById('get-btn');
        var txt = document.getElementById('txt');

        btn.addEventListener('click', function() {
            var xhr = new XMLHttpRequest();
            var url = '/comment?comment=' + txt.value;
            xhr.open('GET', url, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        console.log(xhr);
                    } else {
                        console.log('error');
                    }
                }
            };
            xhr.send();
        });

        getBtn.addEventListener('click', function() {
            var xhr = new XMLHttpRequest();
            var url = '/getComment';
            xhr.open('GET', url, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        var com = parse(JSON.parse(xhr.response).comment);
                        var txt = document.createElement('span');
                        txt.innerHTML = com;
                        document.body.appendChild(txt);
                    } else {
                        console.log('error');
                    }
                }
            };
            xhr.send();
        });

        // 将用户输入的文本进行简单的反转义以后，再用innerHTML去包含，那么其中的XSS脚本会得到执行
        // 所以我们不能直接用模版去反转义，需要先将文本转成 DOM对象，在这个过程中进行 DOM的配对和校验
        function parse(str) {
            var results = '';
            try {
                HTMLParser(he.unescape(str, {strict: true}), {
                    start: function(tag, attrs, unary) {
                        if(tag=='script'||tag=='style'||tag=='link'||tag=='iframe'||tag=='frame')return;
                        results += '<' + tag;

                        // 将下面的代码注释掉之后，将属性过滤之后，也就拦截了藏在其中的XSS脚本
                        // for (var i = 0; i < attrs.length; i++) {
                        //     results += ' ' + attrs[i].name + '="' + attrs[i].escaped + '"';
                        // }

                        results += (unary?"/":"") + ">";
                    },
                    end: function(tag) {
                        results += '</' + tag + '>';
                    },
                    chars: function(text) {
                        results += text;
                    },
                    comment: function(text) {
                        results += '<!--' + text + '-->'
                    }
                });
                return results;
            } catch (e) {
                console.log(e);
            } finally {

            }
        }
    </script>
  </body>
</html>
